body {
    cursor: url("../assets/cursor/yugicursor.png"), default;
}

button, 
a,
img:hover,
button:hover,
a:hover {
    cursor: url("../assets/cursor/yamiyugicursorGLOW.png"), auto;
}

.bg-video {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bg-video .video {
    height: 100vh;
}

.bg-video::after { /* Deixando o vídeo de fundo escuro */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
    90deg, 
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
    );
}

.container { /* Deixando os conteúdos sobrepostos ao video */
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.container__left {
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container__right {
    width: 65%;
}

.score_box {
    background-color: #fff;
    padding: 30px;
}

.frame {
    border: 3px solid #000;
    border-radius: 5px;
}

.card_details {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    width: 100%;
}

#card-name {
    font-size: 0.8rem;
}

#card-type {
    font-size: 1rem;
}

.card-box_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem;
}

.card-versus__container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding-top: 0.1rem;
    height:300px;
}

.versus-top,
.versus-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.versus-bottom {
    margin-top: 1rem;
}

#next-duel {
    display: none;
}

.card-box { /* Disposição de cartas de cada jogador */
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-infield {
    height: 11.2rem;
    width: 8rem;
}

.card-infield > img {
    border: none;
}

.card {
    transition: transform 0.2s;
}

.card:hover { /* Quando passa o mouse encima da carta */
    transform: scale(1.2);
}

.debug {
    border: solid 1px red;
}





/* tablets */
@media screen and (min-width: 481px) and (max-width: 769px) {
    .container {
        flex-direction: row;
    }

    .bg-video {
        height: 100%;
        width: 100%;
    }

    .container__left {
        width: 30%;
    }

    .container__right {
        width: 70%;
    }

    .card-box_container {
        width: 100%;
    }

    .card_details {
        height: 12rem;
        width: 8rem;
        justify-content: space-around;
    }

    .score_box {
        height: 8rem;
    }

    #card-name {
        font-size: 10px;
    }

    #card-image {
        width: 130px;
    }

    #card-type {
        font-size: 12px;
    }

    .card{
        height: 90px;
        width: 68px;
    } 

}





/* dispositivos moveis */
@media screen and (max-width: 480px) {
    .card{
        height: 90px;
        width: 54px;
    } 

    .container__left {
        width: 32%;
    }

    .container__right {
        width: 68%;
    }

    .score_box {
        height: 10rem;
        padding: 20px;
    }


    #card-image {
        width: 140px;
    }

    .card_details {
        height: 16rem;
        width: 8rem;
        justify-content: space-around;
    }

    #card-name {
        font-size: 10px;
    }

    #card-type {
        font-size: 12px;
    }

}